{% extends "base.html" %}

{% block qtipjs %}
<script type="text/javascript">
// Create the tooltips only on document load
$(document).ready(function() 
{
   // By suppling no content attribute, the library uses each elements title attribute by default
   $('#content a[href][title]').qtip({
      content: {
         text: false // Use each elements title attribute
      },
      style: 'dark' 
   });

});
</script>
{% endblock %}
{% block content %}

<ul class="navigation">
  <li class="previous">
    &nbsp;
    {% if previous_month_url %}
    <a href="{{ previous_month_url }}" title="Previous Month">&lt; &lt; Previous</a>
    {% endif %}
  </li>
  <li class="select">
    {{ current_month_str }}
  </li>
  <li class="next">
    {% if next_month_url %}
    <a href="{{ next_month_url }}" title="Next Month">Next &gt;&gt;</a>
    {% endif %}
    &nbsp;
  </li>
</ul>

<table class="calendar" width="800" cellspacing="0" cellpadding="0" border="0">
  <tr>
    {% for day in weekdays %}
    <th>{{ day }}</th>
    {% endfor %}
  </tr>
{% for week in calendar %}
{% if week %}
<tr>
  {% for day in week %}
  {% if day %}
  <td>
    <div class="day">
      <span>{{ day.0 }}</span>
    </div>
    <div class="events">
      {% for event in day.1 %}
      {{ event.display|safe }}
      {% endfor %}
    </div>
    <div class="clear">&nbsp;</div>
  </td>
  {% else %}
  <td class="empty">
    <div class="day"> &nbsp; </div>
    <div class="events"> &nbsp; </div>
  </td>
  {% endif %}
  {% endfor %}
</tr>
{% endif %}
{% endfor %}
</table>

{% endblock %}
