*
{
  padding:0;
  margin:0;
  border:0;
}

body
{
  background-color: #000000;
  color: #ffffff;
  font-family: helvetica neue,helvetica,arial,times;
  font-size: 14px;
}

a:link
{
  color: #ffffff;
}

a:active
{
  color: #ffffff;
}

a:visited
{
  color: #ffffff;
}

a:hover
{
  color: #aaaaff;
}

#header h1
{
  margin-left: -100000px;
}

#top_right_links
{
  text-align: right;
}

#top_right_links a
{
  border: 1px solid #cccccc;
  color: #cccccc;
  font-size: 15px;
  padding: 0.3em;
  text-decoration: none;
}

#top_right_links a:hover
{
  color: white;
}

#masthead
{
  text-align: center;
  margin-left: -30px;
  height: 110px;
}

#calendar_link
{
  text-align: center;
}

#calendar_link img
{
  width: 220px;
  margin-top: -3em;
}

#guitar_link img
{
  height: 55px;
  margin-bottom: 1.5em;
  margin-top: -1.5em;
}

#social_links img
{
  height: 45px;
  margin-left: 1em;
}

#navigation
{
  width: 1024px;
  left: -30px;
}

#navigation a
{
  font-size: 20px;
  color: #33ff33;
  text-decoration: none;
}

#navigation span
{
  padding-left: 2.8em;
  padding-right: 2.9em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #333333;
}

#navigation a:hover
{
  color: #ff0000;
}

h2
{
  font-size: 16px;
  font-weight: normal;
  margin: 2em;
}

h3
{
  font-size: 16px;
  font-weight: normal;
  margin: 0.2em;
}

#content
{
  text-align: center;
  margin-top: 3em;
}

.subheader
{
  font-size: 16px;
  font-weight: bold;
  margin-top:0.5em;
  margin-bottom: 0.2em;
}

.site_image
{
  border: 1px solid white;
  margin: 0em;
  margin-top: 2em;
}

ul
{
  list-style-type: none;
  text-align: left;
}

.instrument, .equipment
{
  width: 200px;
  float: left;
}

#calendar img
{
  width: 150px;
  border: 2px solid white;
}

#calendar img:hover
{
  border: 2px solid yellow;
}

.calendar {
    margin: auto;
}

.calendar td div.day {
  height: 1em;
  padding-bottom: 8px;
  margin-bottom: 0px;
  background-color: #ccc;
  color: #999;
  font-size: 1em;
  text-align: left;
}

.calendar td.empty div {
  background-color: black;
}

.calendar td div.day span {
  margin-left: 0.5em;
}

.calendar td div.events {
  min-height: 11em;
}
 
.calendar td div {
  padding: 2px;
  float: left;
  clear: both;
  width: 8em;
}
.calendar td {
  border: 1px solid #FFF;
}

.navigation {
  margin: auto;
  width: 600px;
}

.navigation li {
  float: left;
  width: 200px;
  padding: 0px;
  margin: 0px;
}

.navigation li.select {
  text-align: center;
}

.navigation li.next {
  text-align: right;
}

#dropdowns
{
  position: relative;
  height: 35px;
}

.dropdown
{
  float:left;
  margin-top: 0.5em;
  margin-right: 4px;
  width: 110px;
  padding-top: 0.5em;
  background-color: #333333;
  font-size: 14px;
  color: #33ff33;
}

.dropdown a
{
  color: #33ff33;
  text-decoration:none;
}

.dropdown a:hover
{
  color: #ff0000;
}

#home_dropdown
{
  position: absolute;
  width: 124px;
  left: 0px;
}

#about_dropdown
{
  position: absolute;
  left: 128px;
  width: 123px;
}

#learn_dropdown
{
  width: 131px;
  position: absolute;
  left: 244px;
}

#rehearse_dropdown
{
  width: 163px;
  position: absolute;
  left: 380px;
}

#record_dropdown
{
  position: absolute;
  width: 143px;
  right: 245px;
}

#perform_dropdown
{
  position: absolute;
  width: 151px;
  right: 90px;
}

#party_dropdown
{
  position: absolute;
  margin-right: 0px;
  width: 117px;
  right: 1px;
}

#secondary_dropdowns
{
  position: relative;
}

.secondary_dropdown
{
  position: absolute;
  left: 390px;
  margin-top: 0.5em;
  margin-right: 4px;
  width: 150px;
  padding-top: 0.5em;
  background-color: #333333;
  font-size: 14px;
}

.secondary_dropdown a
{
  color: #33ff33;
  text-decoration: none;
}

.secondary_dropdown a:hover
{
  color: #ff0000;
}