*
{
  padding:0;
  margin:0;
  border:0;
}

body
{
  background-color: #000000;
  color: #ffffff;
  font-family: helvetica neue,helvetica,arial,times;
  font-size: 14px;
}

a:link
{
  color: #ffffff;
}

a:active
{
  color: #ffffff;
}

a:visited
{
  color: #ffffff;
}

a:hover
{
  color: #aaaaff;
}

#header h1
{
  margin-left: -100000px;
}

#masthead
{
  text-align: center;
  height: 280px;
  margin-top: 2em;
}

#navigation img
{
  width: 60px;
  margin:0.7em;
}

h2
{
  font-size: 16px;
  font-weight: normal;
  margin: 2em;
}

h3
{
  font-size: 16px;
  font-weight: normal;
  margin: 0.2em;
}

#content
{
  text-align: center;
}

.subheader
{
  font-size: 16px;
  font-weight: bold;
  margin-top:0.5em;
  margin-bottom: 0.2em;
}

.site_image
{
  border: 1px solid white;
  margin: 0em;
  margin-top: 2em;
}

ul
{
  list-style-type: none;
  text-align: left;
}

.instrument, .equipment
{
  width: 200px;
  float: left;
}

#calendar img
{
  width: 150px;
  border: 2px solid white;
}

#calendar img:hover
{
  border: 2px solid yellow;
}


.calendar td div.day {
  height: 1em;
  padding-bottom: 8px;
  margin-bottom: 0px;
  background-color: #ccc;
  color: #999;
  font-size: 1em;
  text-align: left;
}

.calendar td.empty div {
  background-color: black;
}

.calendar td div.day span {
  margin-left: 0.5em;
}

.calendar td div.events {
  min-height: 11em;
}
 
.calendar td div {
  padding: 2px;
  float: left;
  clear: both;
  width: 8em;
}
.calendar td {
  border: 1px solid #FFF;
}
