<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  {% load calendar_tags %}
  <head>
    <title>Rock City Studios | Learn, Record, Rehearse, Perform</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <!-- 960 css -->
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/text.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/960.css" />
    <link rel="icon" type="image/ico" href="/site_media/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/site.css" />
  <script type="text/javascript" src="/site_media/scripts/jquery-1.2.3.min.js"></script>
  {% calendar_media %}
  <script type="text/javascript" src="/site_media/scripts/base.js"></script>
  </head>
  {% block extrahead %}
  <script type="text/javascript">
    var do_with_ajax = false
  </script>
  {% endblock%}

  <body>

    <div class="container_12">

      <div class="grid_12" id="masthead">
	<a href="/"><img src="/site_media/images/TOPBANNER.jpg" alt="Rock City Studios" /></a>
      </div>

      <div class="clear">&nbsp;</div>

      <div class="grid_12">

	<div id="navigation" class="grid_12">
	  <span><a href="/"><img src="/site_media/images/HOME.jpg" alt="home" /></a></span>
	  <span><a href="/contact/"><img src="/site_media/images/CONTACT.jpg" alt="Contact" /></a></span>
	  <span><a href="/videos/"><img src="/site_media/images/VIDEOS.jpg" alt="Videos" /></a></span>
	  <span><a href="/calendar/"><img src="/site_media/images/CALENDAR.jpg" alt="Calendar" /></a></span>
	  <span><a href="/learn/"><img src="/site_media/images/LEARN.jpg" alt="Learn" /></a></span>
	  <span><a href="/record/"><img src="/site_media/images/RECORD.jpg" alt="Record" /></a></span>
	  <span><a href="/rehearse/"><img src="/site_media/images/REHEARSE.jpg" alt="Rehearse" /></a></span>
	  <span><a href="/perform/"><img src="/site_media/images/PERFORM.jpg" alt="Perform" /></a></span>
	  <span><a href="http://www.myspace.com/rockcitystudio" target="_BLANK"><img src="/site_media/images/MYSPACE.jpg" alt="for more information about bands, shows, and more, click here to visit our myspace page" /></a></span>
	  <span><a href="http://www.facebook.com/pages/Camarillo-CA/Rock-City-Studios/104447707207" target="_BLANK"><img src="/site_media/images/FACEBOOK.jpg" alt="Facebook" /></a></span>
	  <span><a href="http://www.youtube.com/user/RockCityStudiosCA" target="_BLANK"><img src="/site_media/images/YOUTUBE.jpg" alt="YouTube" /></a></span>

	</div>

      <div id="clear">&nbsp;</div>

      <div class="grid_12" id="content">
      {% block content %}
      <p>this is the content area</p>
      {% endblock %}
      </div>
  </body>
</html>
