<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>RCS TEST ENV</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <!-- 960 css -->
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/text.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/960.css" />
    <link rel="icon" type="image/png" href="/site_media/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/site.css" />
  </head>
  <body>
    <div class="container_12">
      <div class="grid_12">
      <div id="myspace_link" class="grid_2 alpha">
	<a href="http://www.myspace.com/rockcitystudio" target="_BLANK"><p>myspace link</p></a>
      </div>	

	<div id="masthead" class="grid_8">
	  <a href="/"><h1>This is your logo</h1></a>
	</div>
      <div class="grid_2 omega" id="class_schedule">
	<p>class schedule</p>
    </div>

      <div id="clear">&nbsp;</div>

	<div id="navigation" class="grid_8 prefix_2">
	  <div class="grid_2 alpha"><a href="/learn/">Learn</a></div>
	   <div class="grid_2"><a href="/record/">Record</a></div>
	   <div class="grid_2"><a href="/rehearse/">Rehearse</a></div>
	   <div class="grid_2 omega"><a href="/perform/">Perform</a></div>
	</div>
      </div>

      <div id="clear">&nbsp;</div>

      <div class="grid_12" id="content">
      {% block content %}
      <p>this is the content area</p>
      {% endblock %}
      </div>
  </body>
</html>
