{% extends "base.html" %}

{% block content %}

<p>{{ contact_text.text }}</p>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Rock+City,+Camarillo,+CA&amp;sll=34.222164,-119.035406&amp;sspn=0.028317,0.07184&amp;ie=UTF8&amp;hq=Rock+City&amp;hnear=Rock+City,+2258+Pickwick+Dr,+Camarillo,+California+93010-6410&amp;ll=34.230326,-119.034204&amp;spn=0.024837,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Rock+City,+Camarillo,+CA&amp;sll=34.222164,-119.035406&amp;sspn=0.028317,0.07184&amp;ie=UTF8&amp;hq=Rock+City&amp;hnear=Rock+City,+2258+Pickwick+Dr,+Camarillo,+California+93010-6410&amp;ll=34.230326,-119.034204&amp;spn=0.024837,0.036478&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>

{% endblock %}
