{% extends "base.html" %}

{% block content %}
<h1>Learn</h1>
<h2>RCS provides expert instruction in every aspect of music.</h2>
<ul class="grid_3 prefix_1">
<li class="subheader">Guitar</li>
<li>Charlie Lin</li>
<li>Stephen Armstrong</li>
<li>Oscar Rivera</li>
<li>Carol Jones</li>
<li class="subheader">Bass</li>
<li>Doug Peyton</li>
<li>Trevor</li>
<li class="subheader">Drums</li>
<li>Justin Dempsey</li>
<li>Christopher Schnack</li>
</ul>
<ul class="grid_3">
<li class="subheader">Piano</li>
<li>Heidi</li>
<li>David Applebaum</li>
<li class="subheader">Voice</li>
<li>Becca Cornelius</li>
<li>Julianne Cornelius</li>
<li>Scott Thomas</li>
<li class="subheader">Mandolin</li>
<li>Carol Jones</li>
<li class="subheader">Banjo</li>
<li>Carol Jones</li>
<li class="subheader">Flute</li>
<li>Cavit Celayir-Monezis</li>
</ul>
<div class="grid_8">
<p>Private lessons are $30 per half hour ($35 for vocal lessons).</p>

<p>Lessons in songwriting and recording engineering are available by special arrangement</p>
</div>
{% endblock %}
