{% extends "base.html" %}

{% block content %}

<div class="grid_6 alpha">

<ul>
{% for object in perform_list %}

<h3>{{ object.header }}</h3>

<p>{{ object.text|escape|linebreaks }}</p>

{% endfor %}
</ul>
</div>

<div id="grid_6 omega">
<img class="site_image" src="/site_media/images/chadelder_hiphop_3_sm.jpg" alt=" " />
<img class="site_image" src="/site_media/images/chadelder_monster_live07_sm.jpg" alt=" " />
<img class="site_image" src="/site_media/images/chadelder_hiphop_8_sm.jpg" alt=" " />
<img class="site_image" src="/site_media/images/chadelder_monster_live10_sm.jpg" alt=" " />
<img class="site_image" src="/site_media/images/perform_1_sm.jpg" alt=" " />
<img class="site_image" src="/site_media/images/perform_2_sm.jpg" alt=" " />
<img class="site_image" src="/site_media/images/perform_3_sm.jpg" alt=" " />
</div>

<div class="clear"> &nbsp; </div>

{% endblock %}
