{% extends "base.html" %}

{% block content %}

<div class="grid_3 alpha">
<img class="site_image" src="/site_media/images/record_11_sm.jpg" alt=" " />
<img class="site_image" src="/site_media/images/record_2_sm.jpg" alt=" " />
<img class="site_image" src="/site_media/images/record_3_sm.jpg" alt=" " />
</div>

<div class="grid_6">

<h3>{{ record_text.text|escape|linebreaks }}</h3>

  <ul>
    {% for object in record_equipment %}

    <div class="equipment">
    <li class="subheader">{{ object.name }}</li>
    {% for i in object.RecordEquipmentList %}
    <li>{{ i.name }}</li>
    {% endfor %}
    </div>

    {% endfor %}
  </ul>
</div>

<div class="grid_3 omega">
<img class="site_image" src="/site_media/images/record_7_sm.jpg" alt=" " />
<img class="site_image" src="/site_media/images/record_8_sm.jpg" alt=" " />
<img class="site_image" src="/site_media/images/record_4_sm.jpg" alt=" " />
<img class="site_image" src="/site_media/images/record_6_sm.jpg" alt=" " />
</div>

{% endblock %}
