{% extends "base.html" %}

{% block content %}

<div class="grid_3 alpha">
<img class="site_image" src="/site_media/images/record_11_sm.jpg" alt=" " />
<img class="site_image" src="/site_media/images/record_2_sm.jpg" alt=" " />
<img class="site_image" src="/site_media/images/record_3_sm.jpg" alt=" " />
</div>

<div class="grid_6">

<h3>Our Studio is double walled with 10 layers of soundproofing, 5 pane glass windows, and a sand filled floor.</h3>
<h3>Studio is a modified semi-live room with great natural acoustics.</h3>

<h2>We offer a fully equipped digital recording studio featuring the following equipment:</h2>
<ul class="grid_3 alpha">
<li class="subheader">Board:</li>
<li>Yamaha O2R96  - 56 channels.</li>
<li class="subheader">Software:</li>
<li>Digital Performer 5.0 running on a Mac Pro (quadcore).</li>
<li>MOTU interfaces</li>
<li>Big Ben Clock</li>


<li class="subheader">Condenser Microphones:</li>
<li>Neumann U-87</li>
<li>Neumann TLM-103   (3)</li>
<li>Neumann KM-184   (2)</li>
<li>AKG414   (matched pair)</li>
<li>Shure KSM32</li>
<li>Octava   (2)</li>
</ul>

<ul class="grid_3 omega">
<li class="subheader">Dynamic Microphones</li>
<li>Shure  SM-58  (5)</li>
<li>Shure  SM-57  (9)</li>
<li>Shure Beta 52 kick drum mic (2)</li>

<li class="subheader">Guitar Amplifiers</li>
<li>Mesa    Road King,   Triple Rectifier</li>
<li>Marshall     TSL-100,  DSL-100</li>
<li>Fender Concert Reverb  (3)</li>
<li>Fender Blues Deluxe</li>
<li>Fuchs ODS  100 watt</li>
<li>Orange Tiny Terror (class A)</li>
<li>Crate Palomino  (class A)</li>
<li>Backline  (class A)</li>
<li>Backline Solid State Bass AMP</li>
 </ul>
</div>

<div class="grid_3 omega">
<img class="site_image" src="/site_media/images/record_7_sm.jpg" alt=" " />
<img class="site_image" src="/site_media/images/record_8_sm.jpg" alt=" " />
<img class="site_image" src="/site_media/images/record_4_sm.jpg" alt=" " />
<img class="site_image" src="/site_media/images/record_6_sm.jpg" alt=" " />
</div>

{% endblock %}
