{% extends "base.html" %}

{% block content %}


<h2>We offer 2 rehearsal spaces:</h2>

<h3>The Studio:</h3>
<p>Soundproofed 15’ x 22’ space includes full DW drum kit, and tube amplifiers for guitars.  Amps include Mesa Road King, Marshall TSL-100 half stack, Fender Concert Reverb and Blues Deluxe.  Bass Amp is a solid state Gallien-Kruger. A professional PA is provided complete with Shure SM-58 mics.</p>
<p>Price $25 per hour (if you use your own cymbals).  $30 per hour if you use the house (Sabian) cymbals.</p>

<h3>The Stage:</h3>
<p>A raised 13’x 20’ stage with full theatrical lighting.  Complete DW drum kit and tube amplifiers for guitars.  Amps include Mesa Triple Rectifier, Marshall DSL-100 Half stack, Fender Concert Reverbs.  Professional house PA system with surround speakers and surround monitoring, complete with SM-58 mics.</p>
<p>Price $30 per hour (if you use your own cymbals).  $35 per hour if you use the house (Sabian) cymbals.</p>
</div>


{% endblock %}
